# CONNECTION
NODE_ENV='development'

# PORT
DEFAULT_PORT=3150
# ------------------------------------------------------------------------

# DESTINY DATABASE
CONNECTION_LIMIT=10
DESTINY_DB_HOST=localhost

# ***** DESTINY
DESTINY_DB_USER_WRITE=root
DESTINY_DB_PASSWORD_WRITE=M4pr0t3l

# DESTINY DATABASE NAMES
DESTINY_DB_NAME=BE_Basic
# ------------------------------------------------------------------------

# ORIGIN DATABASE
CONNECTION_LIMIT=10
ORIGIN_DB_HOST=localhost

# ***** ORIGIN
ORIGIN_DB_USER_READ=root
ORIGIN_DB_PASSWORD_READ=M4pr0t3l

# ORIGIN DATABASE NAMES
ORIGIN_DB_NAME=BE_Basic
# ------------------------------------------------------------------------

# ORIGIN DATABASE MSSQL
CONNECTION_LIMIT_MSSQL=10
ORIGIN_DB_HOST_MSSQL=172.21.10.2

# ***** ORIGIN MSSQL
ORIGIN_DB_USER_READ_MSSQL=relate
ORIGIN_DB_PASSWORD_READ_MSSQL=relate

# ORIGIN DATABASE NAMES MSSQL
ORIGIN_DB_NAME_MSSQL=relate
# ------------------------------------------------------------------------
